@page
@model CSPharma_v4._1.Pages.LineasDistribucion.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="body">
    <h1>Index</h1>
    
    <br />

    <input type="text" id="searchId" placeholder="buscar por ID" />
    <input type="text" id="searchProvincia" placeholder="buscar por cod provincia" />
    <input type="text" id="searchMunicipio" placeholder="buscar por cod municipio" />
    <input type="text" id="searchBarrio" placeholder="buscar por cod barrio" />
  
    <br />
    <br />

    <p>
        <a asp-page="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion[0].MdUuid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion[0].MdDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion[0].CodProvincia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion[0].CodMunicipio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TdcCatLineasDistribucion[0].CodBarrio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TdcCatLineasDistribucion)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MdUuid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MdDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodProvincia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodMunicipio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodBarrio)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CodLinea">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.CodLinea">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.CodLinea">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery/dist/jquery-3.6.3.min.js" asp-append-version="true"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>*@

<script>
    $("#searchId").on("keyup", function () {
        var inputSearch = $(this).val();

        $("table tr").each(function (results) {
            if (results !== 0) {
                var search = $(this).find("td:nth-child(3)").text(); // nth-child(3) --> Id

                if (search.indexOf(inputSearch) !== 0 && search.toLowerCase().indexOf(inputSearch.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>

<script>
    $("#searchProvincia").on("keyup", function () {
        var inputSearch = $(this).val();

        $("table tr").each(function (results) {
            if (results !== 0) {
                var search = $(this).find("td:nth-child(4)").text(); // nth-child(4) --> Cod Provincia

                if (search.indexOf(inputSearch) !== 0 && search.toLowerCase().indexOf(inputSearch.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>

<script>
    $("#searchMunicipio").on("keyup", function () {
        var inputSearch = $(this).val();

        $("table tr").each(function (results) {
            if (results !== 0) {
                var search = $(this).find("td:nth-child(5)").text(); // nth-child(5) --> Cod Municipio

                if (search.indexOf(inputSearch) !== 0 && search.toLowerCase().indexOf(inputSearch.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>

<script>
    $("#searchBarrio").on("keyup", function () {
        var inputSearch = $(this).val();

        $("table tr").each(function (results) {
            if (results !== 0) {
                var search = $(this).find("td:nth-child(6)").text(); // nth-child(6) --> Cod Barrio

                if (search.indexOf(inputSearch) !== 0 && search.toLowerCase().indexOf(inputSearch.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>