@page
@model CSPharma_v4._1.Pages.GestionUsuarios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="body">
    <h1>Index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserList[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserList[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserList[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserList[0].PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ApplicationUserList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>